<html>
<head>
<title>About - Vehicle and Building Detection Project</title>
<link rel="stylesheet" href="static/bootstrap.min.css" />        
<script src="static/bootstrap.min.js"></script>
</head>
<body>

    <section>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Detection System</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link "  href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about">About</a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </nav>
    </section>

    <!-- About 4 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8">
          <h3 class="fs-5 mb-2 text-secondary text-uppercase">About Project</h3>
          <h2 class="display-5 mb-4">Model Comparision</h2>
          </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0">
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-3">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="static/Pytorch Logo.png" class="img-fluid rounded-start" alt="Why Choose Us?" style="height: 150px;">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Mark-I Model</h2>
                  <p class="card-text lead"></p>
                </div>
              </div>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Sr.No.</th>
                    <th scope="col">Fields</th>
                    <th scope="col">Results</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Accuracy</td>
                    <td>97.25 %</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Dataset Size</td>
                    <td>10632 Images</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>No. of Epoch</td>
                    <td>10 Epoch</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Image transform Size</td>
                    <td>150 px</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Training Time</td>
                    <td>2.45 Hours</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Batch Size</td>
                    <td>10 Batch</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>No. of Layers</td>
                    <td>9 Layers</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>Categories</td>
                    <td>4 Categories</td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td>Image Annotation Required</td>
                    <td>No</td>
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td>Output Image Segmentation</td>
                    <td>No</td>
                  </tr>
                  <tr>
                    <th scope="row">11</th>
                    <td>Multi-Category Detection</td>
                    <td>No</td>
                  </tr>
                </tbody>
              </table>
              
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-3">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="static/YoloV5 Logo.png" class="img-fluid rounded-start" alt="Visionary Team" style="height: 150px;">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Mark-II Model</h2>
                  <p class="card-text lead"></p>
                </div>
              </div>

              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Sr.No.</th>
                    <th scope="col">Fields</th>
                    <th scope="col">Results</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Accuracy</td>
                    <td>94.26 %</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Dataset Size</td>
                    <td>125 Images</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>No. of Epoch</td>
                    <td>50 Epoch</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Image transform Size</td>
                    <td>640 px</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Training Time</td>
                    <td>4.10 Hours</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Batch Size</td>
                    <td>1 Batch</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>No. of Layers</td>
                    <td>157 Layers</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>Categories</td>
                    <td>5 Categories</td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td>Image Annotation Required</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td>Output Image Segmentation</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <th scope="row">11</th>
                    <td>Multi-Category Detection</td>
                    <td>Yes</td>
                  </tr>
                </tbody>
              </table>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- About 4 - Bootstrap Brain Component -->
<!-- <section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8">
          <h3 class="fs-5 mb-2 text-secondary text-uppercase">About US</h3>
          <h2 class="display-5 mb-4">At our core, we prioritize pushing boundaries, embracing the unknown, and fostering a culture of continuous learning.</h2>
          </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0">
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-3">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="./assets/img/about-img-2.jpg" class="img-fluid rounded-start" alt="Why Choose Us?">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Why Choose Us?</h2>
                  <p class="card-text lead">With years of experience and deep industry knowledge, we have a proven track record of success and are pushing ourselves to stay ahead of the curve.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-lg-6">
            <div class="card bg-light p-3 m-3">
              <div class="row gy-3 gy-md-0 align-items-md-center">
                <div class="col-md-5">
                  <img src="./assets/img/about-img-2.jpg" class="img-fluid rounded-start" alt="Why Choose Us?">
                </div>
                <div class="col-md-7">
                  <div class="card-body p-0">
                    <h2 class="card-title h4 mb-3">Why Choose Us?</h2>
                    <p class="card-text lead">With years of experience and deep industry knowledge, we have a proven track record of success and are pushing ourselves to stay ahead of the curve.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
        <div class="col-12 col-lg-6">
            <div class="card bg-light p-3 m-3">
              <div class="row gy-3 gy-md-0 align-items-md-center">
                <div class="col-md-5">
                  <img src="./assets/img/about-img-2.jpg" class="img-fluid rounded-start" alt="Why Choose Us?">
                </div>
                <div class="col-md-7">
                  <div class="card-body p-0">
                    <h2 class="card-title h4 mb-3">Why Choose Us?</h2>
                    <p class="card-text lead">With years of experience and deep industry knowledge, we have a proven track record of success and are pushing ourselves to stay ahead of the curve.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-3">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="./assets/img/about-img-1.jpg" class="img-fluid rounded-start" alt="Visionary Team">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Visionary Team</h2>
                  <p class="card-text lead">With a team of visionary engineers, developers, and creative minds, we embark on a journey to transform complex challenges into ingenious technological solutions.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

</body>
</html>